{% extends "base.html" %}

{% block title %}Hello World{% endblock %}

{% block content %}
<div class="w-full bg-accent text-accent-content rounded py-4">
  <p class="text-center text-lg font-bold">This is a full-width banner!</p>
</div>
<div class="hero w-full">
  <div class="hero-content flex-col text-center">
    <h2 class="text-4xl font-bold">Hello, World! <br> This is a Hero</h2>
    <div class="flex justify-center gap-4 mt-4">
      <button class="btn btn-primary text-primary-content">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-accent">Accent</button>
    </div>
    <!-- Card here, if needed -->
</div>

  </div>
</div>

{% endblock %}